Run cd "${TURBOWARP_DIR}"
  cd "${TURBOWARP_DIR}"
  node convert-sb3.js
  shell: /usr/bin/bash -e {0}
  env:
    TURBOWARP_DIR: Turbowarp-packager
    PROJECT_DIR: /home/runner/work/Turbowarp_compiler/Turbowarp_compiler/project
    OUTPUT_HTML_DIR: /home/runner/work/Turbowarp_compiler/Turbowarp_compiler/output-html
    CORDOVA_DIR: /home/runner/work/Turbowarp_compiler/Turbowarp_compiler/cordova-project
node:internal/modules/cjs/loader:1210
  throw err;
  ^
Error: Cannot find module './dist-node/index.js'
Require stack:
- /home/runner/work/Turbowarp_compiler/Turbowarp_compiler/Turbowarp-packager/convert-sb3.js
    at Module._resolveFilename (node:internal/modules/cjs/loader:1207:15)
    at Module._load (node:internal/modules/cjs/loader:1038:27)
    at Module.require (node:internal/modules/cjs/loader:1289:19)
    at require (node:internal/modules/helpers:182:18)
    at Object.<anonymous> (/home/runner/work/Turbowarp_compiler/Turbowarp_compiler/Turbowarp-packager/convert-sb3.js:3:18)
    at Module._compile (node:internal/modules/cjs/loader:1521:14)
    at Module._extensions..js (node:internal/modules/cjs/loader:1623:10)
    at Module.load (node:internal/modules/cjs/loader:1266:32)
    at Module._load (node:internal/modules/cjs/loader:1091:12)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:164:12) {
  code: 'MODULE_NOT_FOUND',
  requireStack: [
    '/home/runner/work/Turbowarp_compiler/Turbowarp_compiler/Turbowarp-packager/convert-sb3.js'
  ]
}
Node.js v20.20.0
Error: Process completed with exit code 1.
